---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout titulo="Agenda de Contatos">
    <section class="row mt-4">
        <div class="col-12">
            <h1 class="display-6">Agenda de Contatos</h1>
            <form class="card bg-body-secondary rounded mb-3">
                <div class="row g-2 card-body">
                    <div class="col-6 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="nomeContato"
                            placeholder="Nome do Contato"
                        />
                        <label for="nomeContato" class="form-label"
                            >Nome do Contato</label
                        >
                    </div><!--col -->
                    <div class="col-2">
                        <button
                            class="btn btn-primary w-100 h-100"
                            id="btnBuscar"
                            type="submit">Buscar</button
                        >
                    </div><!--col -->
                </div><!--row -->
            </form><!--card -->
            <div class="d-flex justify-content-center">
                <div class="spinner-grow" role="status" id="carregamento">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
                <ul class="list-group" id="contatos"></ul>
            
        </div>
    </section>
    <script>
        //@ts-nocheck
        const ulContatos = document.querySelector("#contatos")
        const carregamento = document.querySelector('#carregamento')
        carregamento.style.display = 'none'

        async function buscarContatos() {
            const url = "https://randomuser.me/api/?results=15&nat=br"
            carregamento.style.display = 'block'
            const reponse = await fetch(url)
            const contatos = await reponse.json()
            carregamento.style.display = 'none'
            return contatos.results
        }
        async function listarContatos() {
            const contatos = await buscarContatos()

            const contatosHTML = contatos.map(function (contato) {
                // 1 - criar um elemento li
                let liContato = document.createElement("li")
                // 2 - atribuir as classes do bootstrap
                liContato.className = "list-group-item"
                // 3 - adicionar no innerHTML a estrutura interpolando os valores em uma
                liContato.innerHTML = `
                    <div>
                        <img class="rounded-circle" src=${contato.picture.medium} />
                        <span> ${contato.name.first} ${contato.name.last} </span>
                    </div>
                    <div>
                        <i class="bi bi-envelope"></i> ${contato.email}
                        <i class="bi bi-telephone"></i> ${contato.phone}
                    </div>
                `
                // 4- retornar o elemento li
                return liContato
            })
            contatosHTML.forEach(function (liContato) {
                // fazer o appendChild de cada contato na UL contatos
                ulContatos.appendChild(liContato)
            })
        }

        // chamar a função listarContatos()
        listarContatos()
    </script>
</BaseLayout>
